:root {
    --w: 400px;
    --h: calc(var(--w)/4);
    --r: 400px;
}

body {
    background: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:screen;
    height: 100vh;
}

.title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.copyright {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,0);
}


.btn {
    background-color: #FF99D7;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    padding: 10px;
    border-radius: 10px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #D58BDD;
    transition: 2 ease-in-out;
}

